@font-face {
  font-family: 'Open Sans';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenSans-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenSans-Italic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenSans-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenSans-SemiboldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}

::selection {
  background-color: #456373;
  color: #fff;
}

a {
  color: #456373;
  text-decoration: none;
}

h1 {
  font-size: 2em;
  font-weight: 400;
  margin: 0;
}

h2 {
  font-size: 1.5em;
  font-weight: 400;
  margin: 0;
}
