/* Useful core styling */

@font-face {
  font-family: 'Open Sans';
  src: url('chrome-extension://__MSG_@@extension_id__/fonts/OpenSans-Regular.ttf') format('truetype');
}

%pin {
  background-repeat: no-repeat;
  background-position: left center;
  display: table-cell;
  height: 20px;
  width: 30px;
  text-indent: -3000em;
  opacity: 0.75;

  &:hover {
    opacity: 1;
  }
}

.pin {
  @extend %pin;
  background-image: url('chrome-extension://__MSG_@@extension_id__/images/action-pin.png');
}

.hidden {
  display: none;
}


/* Sidebar/page widths */

.sherlocke-original-page {
  width: calc(100% - 250px);
  z-index: 0;

  body.hide-sidebar & {
    width: 100%;
  }
}


/* Sherlocke sidebar styling */

#sherlocke {
  background: #fff;
  border-left: 1px solid #777;
  color: #333;
  font: normal 12px/16px 'Open Sans', Arial, sans-serif;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  overflow-y: auto;
  text-align: left;
  transition: transform 0.2s;
  width: 250px;
  z-index: 100000;

  // Scrollbar
  &::-webkit-scrollbar {
    width: 6px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  }

  &::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
  }

  // Core elements
  a {
    color: #333;
    text-decoration: none;
  }

  ul {
    margin: 0;
    padding: 0;
  }
}

  body.hide-sidebar #sherlocke {
    right: -250px;
  }

  #sherlocke-toggle {
    background-color: #777;
    border-radius: 3px 0 0 3px;
    cursor: pointer;
    display: block;
    height: 50px;
    width: 16px;
    position: fixed;
    top: 50%;
    right: 250px;
    margin-top: -25px;
    z-index: 100000;
    // -webkit-backface-visibility: hidden;

    &::after {
      color: #fff;
      content: ">";
      display: block;
      position: relative;
      top: 0;
      left: 0;
      line-height: 50px;
      text-align: center;
      height: 50px;
      width: 16px;
    }

    &:hover {
      background-color: #444;
    }
  }

    body.hide-sidebar #sherlocke-toggle {
      right: 0;

      &::after {
        content: "<";
      }
    }

  #sherlocke-header {
    background: #f0f0f0 url('chrome-extension://__MSG_@@extension_id__/images/logo.png') no-repeat center center;
    background-size: auto 36px;
    border-bottom: 2px solid #000;
    height: 55px;
    text-indent: -3000em;
  }

  #sherlocke-content {
    position: absolute;
    width: 100%;
    z-index: 10000;
  }

  #sherlocke-loading {
    background-color: #fff;
    text-align: center;
    padding: 0 1em;

    h1 {
      line-height: 1.25em;
    }
  }

    #sherlocke-loading-message {
      font-style: italic;
    }

  #sherlocke-filters {
    border-bottom: 1px solid #777;
    cursor: pointer;
    width: 100%;

    &.fixed {
      position: fixed;
      top: 0;
      right: 0;
    }
  }

    #sherlocke-filter {
      background-color: #fafafa;
      display: block;
      font-size: 1.2em;
      font-weight: bold;
      padding: 0.65em 1em;
      z-index: 1000;

      &::after {
        color: #333;
        content: "▾";
        display: inline-block;
        position: absolute;
        top: 8px;
        right: 10px;
        text-align: center;
        transition: transform 0.3s;
        transform-origin: center center;
        height: 18px;
        width: 16px;
      }
    }

      .show-menu #sherlocke-filter::after {
        transform: rotate(180deg);
      }

      ul#sherlocke-filters-list {
        border-top: 1px solid #777;
        height: 0;
        position: absolute;
        width: 100%;
        opacity: 0;
        z-index: -1;

        li {
          background-color: #fff;
          border-bottom: 1px solid #777;
          list-style: none;
          padding: 0.65em 1em;
          transition: background-color 0.3s;

          &:hover {
            background-color: #eee;
          }
        }
      }

      .show-menu ul#sherlocke-filters-list {
        opacity: 1;
        z-index: 10;
      }

  ul#sherlocke-suggestions {
    background-color: #fff;
    transition: background-color 0.3s, opacity 0.3s;
    width: 100%;
    z-index: 10;

    li {
      border-top: 1px solid #777;
      list-style: none;
      padding: 0;
      transition: background-color 0.3s;

      a {
        display: block;
        padding: 2em 1em 0;
      }
    }

    h1 {
      font-size: 1.5em;
      line-height: 1.25em;
      margin: 0;
    }
  }

    .show-menu ul#sherlocke-suggestions {
      background-color: #888;
      opacity: 0.5;
    }

      #sherlocke:not(.show-menu) ul#sherlocke-suggestions li:hover {
        background-color: #eee;
      }

    a.suggestion-pin {
      margin: 0 1em;
      padding: 0;
    }
