@import 'core';

$side-padding: 2em;

body {
  font-family: 'Open Sans', Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: $brand-color url('chrome-extension://__MSG_@@extension_id__/images/logo_white.png') no-repeat 2em center;
  background-size: auto 45px;
  color: #fff;
  padding: $side-padding 1em $side-padding 17em;

  h1 {
    border-left: 1px solid #fff;
    padding-left: 1em;
  }
}

#user {
  border-bottom: 1px solid $brand-color;
  color: $brand-color;
  padding: 1em $side-padding;
}

  #username {
    font-weight: 600;
  }
