@import 'core';

$background-color: #e8eeef;
$side-padding: 2em;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  background-color: $background-color;
  font-family: 'Open Sans', Arial, sans-serif;
}

input[type='submit'] {
  display: block;
  margin-top: 1em;
}


/* Login form */

#user-login {
  height: 100%;
  padding: 2em;
}

  #user-login-form {
    border: 1px solid $brand-color;
    border-radius: 5px;
    box-shadow: 0 2px 4px #bbb;
    color: $brand-color;
    margin: 0 auto 1em;
    width: 280px;

    button {
      background-color: $brand-color;
      border: none;
      border-radius: 5px;
      box-shadow: 0 1px 3px #a8a8a8;
      color: #fff;
      cursor: pointer;
      display: block;
      font-family: 'Open Sans', Arial, sans-serif;
      margin: 0 auto;
      padding: 0.75em 1.5em;
      height: 3em;
      width: 10em;
      text-align: center;
    }
  }

  #login-header {
    background: $brand-color url('chrome-extension://__MSG_@@extension_id__/images/logo_white_name.png') no-repeat center center;
    background-size: auto 45px;
    height: 110px;
  }

  #login-form {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    padding: $side-padding;
    text-align: center;
  }

  #user-login-learn-more {
    display: block;
    text-align: center;
  }


/* Actual options content */

.settings-content {
  margin: 0 auto;
  max-width: 900px;
}

  header {
    background-color: $brand-color;
    color: #fff;

    .settings-content {
      background: url('chrome-extension://__MSG_@@extension_id__/images/logo_white_name.png') no-repeat left center;
      background-size: auto 45px;
      padding: $side-padding 0 $side-padding 15em;
    }

    h1 {
      border-left: 1px solid #fff;
      padding-left: 1em;
    }

    h2#username {
      float: right;
      font-weight: 600;
      margin-top: 0.15em;

      a {
        color: #fff;
        font-weight: 300;
      }
    }
  }

  #user-settings-content {
    padding: $side-padding 0;
  }

    #blacklist {
      background-color: #fff;
      border: 1px solid $brand-color;
      border-radius: 5px;
      padding: $side-padding;

      ul {
        border-top: 1px solid $brand-color;
        margin: 1em 0;
      }

      li {
        border-bottom: 1px solid $brand-color;
        list-style: none;
        padding: 0.75em 0.25em;
      }
    }

      .blacklist-unpin {
        float: right;
      }

    #blacklist-form {
      h2 {
        margin: 1em 0 0.5em;
      }
    }
