@import 'core';

body {
  margin: 0;
}

ul {
  margin: 1em 0 0;
  padding-left: 1.25em;
}

  li {
    /*list-style: none;*/
  }

#header {
  background: $brand-color url('chrome-extension://__MSG_@@extension_id__/images/logo_white.png') no-repeat 1em center;
  background-size: auto 50px;
  font-family: 'Open Sans', Arial, sans-serif;
  height: 60px;
  padding: 1em;
  width: 350px;
}

#options {
  background: transparent url('chrome-extension://__MSG_@@extension_id__/images/gear.png') no-repeat center center;
  border: 1px solid #fff;
  border-radius: 50%;
  text-indent: -3000em;
  display: block;
  height: 30px;
  width: 30px;
  transition: background-color 0.3s, background-image 0.3s;
  position: absolute;
  top: 25px;
  right: 1em;

  &:hover {
    background-color: #fff;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/gear_hover.png');
  }
}

#session {
  padding: 1em;
}

#priority {
  overflow-y: auto;
  padding: 1em;
}

  ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 1em;

    li {
      border: $brand-color solid 1px;
      border-bottom: none;
      float: left;
      margin: 0 0.25em 0 0;
      padding: 0.25em 0.75em;

      a {
        color: $brand-color;
        text-decoration: none;
      }

      &.active {
        background: $brand-color;

        a {
          color: white;
        }
      }
    }
  }

  .clr {
    clear: both;
  }

  article {
    border-top: gray solid 1px;
    padding: 1em;
  }

  #priority-history {
    // margin-bottom: 1.5em;
  }

  #priority-clear {
    background-color: #eee;
    border: 1px solid #456373;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Open Sans', Arial, sans-serif;
    float: right;
    margin-top: 0.25em;
    padding: 0.15em 0.5em;
  }

  #priority-list li {
    max-width: 325px;
    word-break: break-all;
  }
