@import 'core';

html,
body {
  height: 100%;
}

body {
  background-color: #dedede;
  font-family: $font-stack;
  margin: 0;

  display: table;
}

h1 {
  font-size: 1.5em;
}

ul {
  margin: 1em 0 0;
  padding-left: 1.25em;
}

#nav {
  background: $brand-color;
  background-size: auto 40px;
  height: 100%;
  width: 60px;

  display: table-cell;
}

  %nav-item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    text-indent: -3000em;
    display: block;
    height: 60px;
    width: 60px;
    transition: background-color 0.3s;

    &:hover {
      background-color: lighten($brand-color, 10%);
    }
  }

  #logo {
    @extend %nav-item;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/logo_white.png');

    &:hover {
      background-color: $brand-color;
    }
  }

  #options {
    @extend %nav-item;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/gear.png');
    background-size: auto;
  }

  ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      a {
        @extend %nav-item;
      }

      &.active {
        background-color: lighten($brand-color, 10%);
      }
    }
  }

    #tab-pinned {
      background-image: url('chrome-extension://__MSG_@@extension_id__/images/nav-pinned.png');
    }

    #tab-priority {
      background-image: url('chrome-extension://__MSG_@@extension_id__/images/nav-priority.png');
    }

    #tab-history {
      background-image: url('chrome-extension://__MSG_@@extension_id__/images/nav-history.png');
    }

.block {
  background-color: #fff;
  display: table-cell;
  width: 320px;
  vertical-align: top;
}

  #session {
    background-color: #eee;
    border-bottom: 1px solid $brand-color;
    padding: 1.3em 1em;
    width: 280px;
  }

    #session-list {
      border: 1px solid $brand-color;
      border-radius: 3px;
      font-family: $font-stack;
      padding: 0.25em 0.5em;
      width: 180px;
      vertical-align: middle;
    }

    #session-controls {
      font-size: 0;
      float: right;
    }

      .session-btn {
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        border: 1px solid $brand-color;
        cursor: pointer;
        color: $brand-color;
        display: inline-block;
        font-family: $font-stack;
        padding: 0.15em 0.5em;
        text-indent: -3000em;
        transition: background-color 0.2s;
        width: 30px;
        height: 28px;

        &:hover {
          background-color: #eee;
        }

        &:first-child {
          border-radius: 3px 0 0 3px;
          border-right: none;
        }

        &:last-child {
          border-radius: 0 3px 3px 0;
          border-left: none;
        }
      }

      #session-pause {
        background-image: url('chrome-extension://__MSG_@@extension_id__/images/session-pause.png');
      }

      #session-delete {
        background-image: url('chrome-extension://__MSG_@@extension_id__/images/session-delete.png');
      }

      #session-new {
        background-image: url('chrome-extension://__MSG_@@extension_id__/images/session-new.png');
      }

  article {
    background-color: #fff;
    padding: 1em;
  }

  #session-pinned {

  }

  #session-priority li {
    max-width: 325px;
    word-break: break-all;
  }

  #session-history {
    // margin-bottom: 1.5em;
  }
