@import 'core';

html,
body {
  height: 440px;
}

body {
  background-color: #dedede;
  font-family: $font-stack;
  margin: 0;

  display: table;
}

h1 {
  font-size: 1.5em;
}

ul {
  margin: 1em 0 0;
  padding-left: 0;
}

a {
  cursor: pointer;
}

form {
  padding: 1em 0;
}

#nav {
  background: $brand-color;
  background-size: auto 40px;
  height: 100%;
  width: 60px;

  display: table-cell;
}

  %nav-item {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    text-align: center;
    color: rgba(255,255,255,0);
    font-size: 0.8em;
    padding-top: 46px;
    display: block;
    height: 14px;
    width: 60px;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: lighten($brand-color, 10%);
      color: #fff;
    }
  }

  #logo {
    @extend %nav-item;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/logo_white.png');

    &:hover {
      background-color: $brand-color;
    }
  }

  #options {
    @extend %nav-item;
    background-image: url('chrome-extension://__MSG_@@extension_id__/images/gear.png');
    background-size: auto;
    position: absolute;
    bottom: 0;
  }

  ul.tabs {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      a {
        @extend %nav-item;
      }

      &.active {
        background-color: lighten($brand-color, 10%);
      }
    }
  }

    #tab-pinned {
      background-image: url('chrome-extension://__MSG_@@extension_id__/images/nav-pinned.png');
    }

    #tab-priority {
      background-image: url('chrome-extension://__MSG_@@extension_id__/images/nav-priority.png');
    }

    #tab-history {
      background-image: url('chrome-extension://__MSG_@@extension_id__/images/nav-history.png');
    }

.block {
  background-color: #fff;
  display: table-cell;
  width: 320px;
  vertical-align: top;
}

  #popup-login {
    background-color: $brand-color;
    display: block !important;
    height: 440px;
  }

    #popup-login-btn {
      box-sizing: border-box;

      position: absolute;
      top: 50%;
      left: 50%;
      margin-top: -1.5em;
      margin-left: -5em;

      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 1px 3px darken($brand-color, 5%);
      color: $brand-color;
      display: block;
      padding: 0.75em 1.5em;
      height: 3em;
      width: 10em;
      text-align: center;
    }

  #session {
    background-color: #eee;
    border-bottom: 1px solid $brand-color;
    padding: 1.3em 1em;
    width: 280px;
  }

    #session-list {
      background-color: #fff;
      border: 1px solid $brand-color;
      border-radius: 3px;
      font-family: $font-stack;
      padding: 0.25em 0.5em;
      width: 180px;
      vertical-align: middle;
    }

    #no-sessions {
      display: inline-block;
      vertical-align: middle;
      padding: 5px 0;
      height: 18px;
    }

    #session-controls {
      font-size: 0;
      float: right;
    }

      .session-btn {
        background-color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        border: 1px solid $brand-color;
        cursor: pointer;
        color: $brand-color;
        display: inline-block;
        font-family: $font-stack;
        padding: 0.15em 0.5em;
        text-indent: -3000em;
        transition: background-color 0.2s;
        width: 30px;
        height: 26px;

        &:hover {
          background-color: #eee;
        }
      }

      #session-pause {
        background-image: url('chrome-extension://__MSG_@@extension_id__/images/session-pause.png');
        border-radius: 3px 0 0 3px;
        border-right: none;

        &.paused {
          background-color: $brand-color;
          background-image: url('chrome-extension://__MSG_@@extension_id__/images/session-pause-white.png');
        }
      }

      #session-delete {
        background-image: url('chrome-extension://__MSG_@@extension_id__/images/session-delete.png');
      }

      #session-new {
        background-image: url('chrome-extension://__MSG_@@extension_id__/images/session-new.png');
        border-radius: 0 3px 3px 0;
        border-left: none;
      }

      #session-new-first {
        background-image: url('chrome-extension://__MSG_@@extension_id__/images/session-new.png');
        border-radius: 3px;
        border: 1px solid $brand-color;
      }

    #session-new-actions {
      margin-top: 1em;
    }

    .session-action {
      background-color: #fff;
      border: 1px solid $brand-color;
      border-radius: 3px;
      color: $brand-color;
      cursor: pointer;
      font-family: $font-stack;
      margin-right: 1em;
      padding: 0.25em 1em;
    }

      .session-action-primary {
        @extend .session-action;
        background-color: $brand-color;
        color: #fff;
      }

  #tab-content {
    position: relative;
    height: 380px;
  }

  article {
    background-color: #fff;
    padding: 1em;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    overflow-y: auto;

    ul {
      border-top: 1px solid lighten($brand-color, 25%);
    }

      li {
        border-bottom: 1px solid lighten($brand-color, 25%);
        display: table;
        padding: 0.65em 0;
        width: 100%;
      }
  }

  #session-pinned {

  }

  #session-priority li {
    max-width: 325px;
    word-break: break-all;
  }

  #session-history {
    // margin-bottom: 1.5em;
  }
