@font-face {
  font-family: 'Open Sans';
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/OpenSans-Regular.ttf") format("truetype");
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Spencer\/Dropbox\/School\/CSC454\/sherlocke-chrome\/app\/styles\/popup\.scss}line{font-family:\000036}}
body {
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Spencer\/Dropbox\/School\/CSC454\/sherlocke-chrome\/app\/styles\/popup\.scss}line{font-family:\0000310}}
::selection {
  background-color: #456373;
  color: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Spencer\/Dropbox\/School\/CSC454\/sherlocke-chrome\/app\/styles\/popup\.scss}line{font-family:\0000315}}
a {
  color: #456373;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Spencer\/Dropbox\/School\/CSC454\/sherlocke-chrome\/app\/styles\/popup\.scss}line{font-family:\0000320}}
h1 {
  font-size: 2em;
  font-weight: normal;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Spencer\/Dropbox\/School\/CSC454\/sherlocke-chrome\/app\/styles\/popup\.scss}line{font-family:\0000326}}
h2 {
  font-size: 1.5em;
  font-weight: normal;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Spencer\/Dropbox\/School\/CSC454\/sherlocke-chrome\/app\/styles\/popup\.scss}line{font-family:\0000332}}
#header {
  background: #456373 url("img/logo_white.png") no-repeat left center/contain;
  font-family: 'Open Sans', Arial, sans-serif;
  height: 60px;
  padding: 1em;
  width: 350px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Spencer\/Dropbox\/School\/CSC454\/sherlocke-chrome\/app\/styles\/popup\.scss}line{font-family:\0000340}}
#options {
  background: transparent url("img/gear.png") no-repeat center center;
  border: 1px solid #fff;
  border-radius: 50%;
  text-indent: -3000em;
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
  top: 25px;
  right: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Spencer\/Dropbox\/School\/CSC454\/sherlocke-chrome\/app\/styles\/popup\.scss}line{font-family:\0000353}}
#user {
  border-bottom: 1px solid #456373;
  color: #456373;
  padding: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Spencer\/Dropbox\/School\/CSC454\/sherlocke-chrome\/app\/styles\/popup\.scss}line{font-family:\0000359}}
#username {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Spencer\/Dropbox\/School\/CSC454\/sherlocke-chrome\/app\/styles\/popup\.scss}line{font-family:\0000363}}
#priority {
  overflow-y: auto;
  padding: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Spencer\/Dropbox\/School\/CSC454\/sherlocke-chrome\/app\/styles\/popup\.scss}line{font-family:\0000368}}
#priority-history {
  margin-bottom: 1.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Spencer\/Dropbox\/School\/CSC454\/sherlocke-chrome\/app\/styles\/popup\.scss}line{font-family:\0000372}}
#priority-clear {
  background-color: #eee;
  border: 1px solid #456373;
  border-radius: 3px;
  cursor: pointer;
  font-family: 'Open Sans', Arial, sans-serif;
  float: right;
  margin-top: 0.25em;
  padding: 0.15em 0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Spencer\/Dropbox\/School\/CSC454\/sherlocke-chrome\/app\/styles\/popup\.scss}line{font-family:\0000383}}
ul {
  margin: 1em 0 0;
  padding-left: 1.25em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Spencer\/Dropbox\/School\/CSC454\/sherlocke-chrome\/app\/styles\/popup\.scss}line{font-family:\0000388}}
li {
  /*list-style: none;*/
}
