node_modules
temp
.tmp
dist
.sass-cache
app/bower_components
test/bower_components
package

# Generated configuration
app/scripts/config.js

# JetBrains IDEs
.idea

# Generated CSS
app/styles/*.css

# OS files
Thumbs.db
.DS_Store
