<!DOCTYPE html>
<html ng-app="SherlockeOptions">
  <head>
    <title>Sherlocke options</title>
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/options.css -->
    <link href="styles/options.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body ng-controller="AuthController as auth">
    <section id="options-content">
      <section id="user-login" ng-if="!auth.isAuthenticated">

        <div id="login-header"></div>
        <div id="login-form">
          <button ng-click="auth.authenticate()">Sign in</button>
        </div>

        <a id="user-login-learn-more" href="https://www.sherlocke.me/">Don't have an account yet? Learn more here.</a>
      </section>

      <section id="user-profile" ng-if="auth.isAuthenticated">
        <span>Logged in as {{auth.email}}</span>
        <a ng-href="{{auth.profileUrl}}">View profile</a>
      </section>

      <section id="user-settings" ng-if="auth.isAuthenticated">
        <header>
          <div class="settings-content">
            <h2 id="username">{{ currentUser }} | <a href="#">Logout</a></h2>
            <h1>Options</h1>
          </div>
        </header>

        <div class="settings-content" id="user-settings-content">

          <section id="blacklist" ng-controller="BlacklistController as blacklist">
            <h1>Blacklisted websites</h1>
            <ul>
              <li ng-repeat="domain in blacklist.domains">
                <a class="blacklist-unpin">Remove</a>
                {{ domain }}
              </li>
            </ul>

            <p ng-if="blacklist.domains.length === 0">What</p>

            <form id="blacklist-form" ng-submit="blacklist.blacklist()">
              <h2>Add to blacklist</h2>
              <label for="domain">Add a domain to the blacklist (e.g. "facebook.com" or "gmail.com"):</label>
              <input id="domain" type="text" ng-model="blacklist.domain" placeholder="Domain">
              <input type="submit" value="Add">
            </form>
          </section>

        </div>
      </section>
    </section>

    <!-- build:js scripts/vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-truncate/src/truncate.js"></script>
    <script src="bower_components/angular-restmod/dist/angular-restmod-bundle.js"></script>
    <script src="bower_components/angular-django-auth/lib/django-auth.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/angular-baker-street.js -->
    <script src="scripts/angular-baker-street.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/angular-chrome-messaging.js -->
    <script src="scripts/angular-chrome-messaging.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/options.js -->
    <script src="scripts/options.js"></script>
    <!-- endbuild -->
  </body>
</html>
