<!DOCTYPE html>
<html ng-app="SherlockeOptions">
  <head>
    <title>Sherlocke options</title>
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css styles/options.css -->
    <link href="styles/options.css" rel="stylesheet">
    <!-- endbuild -->
  </head>
  <body>
    <header>
      <h1>Options</h1>
      <h2 ng-show="auth.isAuthenticated">Logged in as <span id="username">{{ currentUser }}</span></h2>
    </header>

    <section id="options-content" ng-controller="AuthController as auth">
      <form id="user-login" ng-if="!auth.isAuthenticated" ng-submit="auth.authenticate()">
        <div class="alert" ng-if="auth.alerts">
          <span ng-repeat="alert in auth.alerts">{{alert}}</span>
        </div>

        <label for="email">Email address</label>
        <input id="email" type="email" ng-model="auth.email">

        <label for="password">Password</label>
        <input id="password" type="password" ng-model="auth.password">

        <input type="submit" value="Sign in">
      </form>

      <section id="user-settings">
        <section id="blacklist">
          <h2>Blacklist</h2>
          <ul>
            <li ng-repeat="domain in domains">
              <a class="unpin">Remove</a>
              {{ domain }}
            </li>
          </ul>

          <!-- POST to /blacklist (domain) -->
          <form ng-submit="auth.authenticate()">
            <label for="domain">Domain</label>
            <input id="domain" type="domain" ng-model="blacklist.domain">

            <input type="submit" value="Add">
          </form>
        </section>
      </section>
    </section>

    <!-- build:js scripts/vendor.js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/lodash/dist/lodash.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-restmod/dist/angular-restmod-bundle.js"></script>
    <script src="bower_components/angular-django-auth/lib/django-auth.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/angular-baker-street.js -->
    <script src="scripts/angular-baker-street.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/angular-chrome-messaging.js -->
    <script src="scripts/angular-chrome-messaging.js"></script>
    <!-- endbuild -->

    <!-- build:js scripts/options.js -->
    <script src="scripts/options.js"></script>
    <!-- endbuild -->
  </body>
</html>
