<article>
  <h1>New session</h1>

  <form name="sessionNew">
    <div>
      <label>Name</label>
      <input type="text" name="name" ng-model="sessionsCtrl.session.name" required>
      <span ng-show="sessionNew.name.$error.required">Required</span>
    </div>

    <div id="session-new-actions">
      <a class="session-action-primary" ng-click="sessionsCtrl.createSession(sessionsCtrl.session)" ng-disabled="sessionNew.$invalid">Save</a>
      <a class="session-action btn" href="#/">Cancel</a>
    </div>
  </form>
</article>
