<select id="session-list">
  <option ng-repeat="session in sessions" value="{{ session.id }}" ng-model="sessionId">
    {{ session.name }}
  </option>
  <option ng-show="noSessions">No sessions</option>
</select>

<div id="session-controls">
  <a href="#/pause" id="session-pause" class="session-btn" title="Pause session">Pause</a>
  <a href="#/delete" id="session-delete" class="session-btn" title="Delete session">Delete</a>
  <a href="#/new" id="session-new" class="session-btn" title="New session">New</a>
</div>
