<div id="sherlocke-header">Sherlocke</div>
<div id="sherlocke-content" ng-hide="side.isLoading">
  <div sk-select id="sherlocke-filters">
    <span id="sherlocke-filter">All related documents</span>
    <ul id="sherlocke-filters-list">
      <li>All related documents</li>
      <li>Legislation</li>
      <li>Cases</li>
      <li>Miscellaneous</li>
    </ul>
  </div>
  <ul id="sherlocke-suggestions">
    <li ng-repeat="document in side.evidence | limitTo:10">
      <a ng-href="{{ document.url }}">

        <h1>{{ document.title }}</h1>
        <!-- <p>Confidence: {{ document.value * 100 | number: 2 }}%</p> -->
        <!-- <p>{{ document.source }}</p> -->
        <p>CanLII</p>
        <a class="pin suggestion-pin" href="#">Pin</a>
      </a>
    </li>
  </ul>
</div>

<div id="sherlocke-loading" ng-show="side.isLoading">
  <h1>Crunching data</h1>
  <p id="sherlocke-loading-message">Analyzed {{ progress }} documents...</p>
</div>

<div id="sherlocke-toggle"></div>
