<div id="sherlocke-header">Sherlocke</div>
<div id="sherlocke-content" ng-if="isLoading === false">
  <div sk-select id="sherlocke-filters">
    <span id="sherlocke-filter">All related documents</span>
    <ul id="sherlocke-filters-list">
      <li>All related documents</li>
      <li>Legislation</li>
      <li>Cases</li>
      <li>Miscellaneous</li>
    </ul>
  </div>
  <ul id="sherlocke-suggestions">
    <li ng-repeat="document in evidence | limitTo:10">
      <a href="#">
        <h1>{{ document.title }}</h1>
        <p>Confidence: {{ document.value * 100 | number: 2 }}%</p>
        <p>CanLII</p>
      </a>
    </li>
  </ul>
</div>

<div id="sherlocke-loading" ng-if="isLoading === true">
  <h1>Crunching data...</h1>
  <p id="sherlocke-loading-message">Analyzed {{ progress }} documents</p>
</div>

<div id="sherlocke-toggle"></div>
