<div id="sherlocke-header">Sherlocke</div>
<div id="sherlocke-content" ng-hide="side.isLoading">
  <div id="sherlocke-filters"
       sk-select
       ng-controller="FilterSelectController as selectCtrl"
       ng-class="{'show-menu': selectCtrl.showMenu}"
       ng-click="selectCtrl.toggle()">
    <span id="sherlocke-filter">{{selectCtrl.filter.name}}</span>
    <ul id="sherlocke-filters-list" ng-click="selectCtrl.click($event)">
      <li data-type="all">All related documents</li>
      <li data-type="legislation">Legislation</li>
      <li data-type="cases">Cases</li>
      <li data-type="misc">Miscellaneous</li>
    </ul>
  </div>

  <ul id="sherlocke-suggestions">
    <!-- <li ng-repeat="document in side.evidence | limitTo:10 | filter: document.source === documents.filter:true"> -->
    <li ng-repeat="document in side.evidence | limitTo:10">
      <a ng-href="{{ document.url }}">
        <h1>{{ document.title }}</h1>
        <p>{{ document.text | characters:110 }}</p>
      </a>
      <div class="suggestion-info">
        <p>{{ document.source }}</p>
        <div class="suggestion-actions">
          <a class="suggestion-hide" title="Don't show this document" href="#">Hide</a>
          <a class="suggestion-pin" title="Pin document" href="#" ng-show="document.pinned">Pin</a>
          <a class="suggestion-unpin" title="Unpin document" href="#" ng-hide="document.pinned">Unpin</a>
        </div>
      </div>
    </li>
  </ul>
</div>

<div id="sherlocke-loading" ng-show="side.isLoading">
  <h1>Crunching data</h1>
  <p id="sherlocke-loading-message">Analyzing documents...</p>
</div>

<div id="sherlocke-toggle" ng-click="main.isSidebarHidden = !main.isSidebarHidden"></div>
